@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --cor-laranja: #ff7833 ;
}

body {
    display: flex;
    background-image: url(../imagens/bg.png);
    background-attachment: fixed;

}

header {
    width: 15%; 
    min-height: 100vh;
    background-color: rgb(49, 51, 59, .8);
}

header div img {
    width: 100px;
    margin-top: 5em;
    margin-right: 15px;
}

.foto-perfil {
    display: flex;
    justify-content: right;
    margin-bottom: 2em;
}



nav {
    width: 100%;
    min-height: 100vh;
    position: sticky;
    top: 0;   

}

li {
    
    list-style-type: none;

}

header ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    gap: 1em;
    width: 100%;
}

header ul li{
    border-bottom: 1px solid #f0f0f0;
    width: 80%;
    text-align: center;
    padding: 8px 0 5px 0;

}

header a {
    display: block;
    color: white;
    text-decoration: none;
}

header ul li:hover {
    text-decoration: underline;
    color: white;
    background-color: #60616483;
    
}

main {
    background-color: rgb(68, 72, 86, .6);
    width: 85%;
    padding: 5em 8em 0 4em;
    min-height: 100vh;
    
}

.primeiro-art {
    border-left: 2px solid var(--cor-laranja);
    padding-left: 2em;
    margin-bottom: 1.5em;
}

 h1, h2, h3, h4{
    color: var(--cor-laranja);
    padding: 0 0 1em 0;
      
}

h4 {
    padding: 1.2em 0 1em 0;
}


 p {
    color: white;
    padding: 0 0 1em 0;
 }

 a {
    color: white;
}

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
    color: #333;
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}



