@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../imagens/bg-2.jpg);
    background-size: cover;
}

header {
    margin: 20px 0px 20px 0px;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    color: white;
    text-shadow: 3px 2px 5px black;
}

header p {
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    padding: 10px 5px;
    width: 390px;
    color: white;
    background-color: rgb(39, 39, 39);
    border-bottom: 1px solid rgb(255, 255, 255);;
}

section {
    width: 1000px;
    background-color: aliceblue;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.471);
}

.container-cards {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5px;
   
}

.cards {
    margin: 15px 0px 15px 0px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.201);
    border-radius: 6px 6px 0px 0px;
    
}

.cards p {
    color: aliceblue;
    text-align: center;
    padding: 5px 0px;
    background-color: rgb(39, 39, 39);

}

.cards img {
    display: block;
    border-radius: 5px 5px 0px 0px;
    
}




